.Base3-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 20px;
    color: #000000;
  }
  
  .arrow-icons {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .arrow-icons svg {
    margin-left: 10px;
  }
  .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
  }
  
  .image-container img {
    width: 270px; 
    height: 200px; 
  }

  .small-image {
    width: 200px;
    height: 200px;
  }
  
  .image-info {
    display: flex;
    gap: 10px;
  }
  .image-container p {
    color: #333; 
    font-weight: bold; 
  }
  

.small-text {
    font-size: 10px;
    color: #666; 
  }
  .title {
    font-size: 20px;
    color: #000000;
    background-color: #f0f0f0; 
    padding: 5px;
  
   
    transition: background-color 0.3s ease;
  }
  .text-wrap {
    white-space: pre-wrap;
  }
  .icon-container {
    display: flex;
    
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    margin-left: -151px;
  }
  .icon-container svg {
    color: rgb(99, 203, 240); 
    font-size: 2px; 
    width: 18px; 
  height: 18px;
  }
 /* THIS IS FOT MOBILE VIEW (TASK-2)  */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .title {
    font-size: 18px; 
  }

  .image-container {
    flex-wrap: wrap; 
    gap: 10px; 
  }

  .image-container img {
    width: calc(50% - 5px); 
    max-width: 200px; 
    height: auto;
  }

  .small-image {
    width: calc(33.33% - 10px); 
    height: auto;
  }

  .icon-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 0;
  }

  .arrow-icons svg {
    font-size: 16px; 
  }

  .arrow-icons {
    flex-direction: column;
  }
}